body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    font-size: 30px;
    margin-top: 50px;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    padding-bottom: 10px
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2;

}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px
}

a:hover {
    color: #EAF6F6;
}

.top-container {
    color: #11999E;
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px 0;

}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.pro {
    text-decoration: underline;
}

.intro {
    width: 30%;
    margin: auto;
}

.contact-message {
    width: 40%
}

.footer-link {
    text-decoration: none;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.top-cloud {
    position: absolute;
    top: 70px;
    right: 300px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.avatar {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.code-icon {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.office-icon {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.btn {
    color: #fff;
    margin: 10px 20px;
    background-color: #11999E;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 300ms;
}

.btn:hover {
    background-color: #56d2d7;
}

.mountain {
    max-width: 600px;
    width: 100%;
}